.container{
	width: 970px;
	margin: 0 auto;
}

.header{
	width: 910px;
	height: 50px;
	background-color: lightgrey;
}

.side_nav{
	width: 200px;
	padding: 10px;
	margin-right: 5px;
	border: 1px solid black;
	display: inline-block;
	vertical-align: top;
}

.side_nav input{
	width: 100px;
}

.main{
	width: 700px;
	padding: 10px;
	border: 1px solid black;
	display: inline-block;
	vertical-align: top;
}

#brand{
	width: 200px;
	display:inline-block;
	margin-right: 550px;
}

#cart_number{
	display: inline-block;	
}

a.nav_category{
	display: block;
	text-decoration: none;
	color: black;
}

a.show_all{
	display: block;
	text-decoration: none;
	color: black;
	font-weight: bold;
}

p.title_number{
	width: 25px;
	height: 25px;
	margin: 0px;
	line-height: 30px;
	text-align: center;
	display: inline-block;
}

#selected_category{
	width: 250px;
	margin: 20px 120px 0px 0px;
	display: inline-block;
}

#page{
	width: 165px;
	margin-left: 55px;
}

#sorted_by{
	display: inline-block;
}

#dropdown{
	display: inline-block;
}

#category_nav{
	display: inline-block;
}

p.page_number{
	width: 20px;
	height: 20px;
	margin: 0px;
	text-align: center;
	display: inline-block;
}

div.products{
	width: 600px;
	height: 180px;
	margin: 0px auto;
}

.product img{
  width: auto;
  max-width: 100px;
  height: auto;
  max-height: 100px;
}

.product{
	width: 100px;
	height: 100px;
	margin: 20px 5px 20px 5px;
	text-align: center;
	display: inline-block;
}

.product p{
	margin: 0px;
}

#pages{
	margin: 30px auto;
	text-align: center;
}

#pages p{
	display: inline-block;
	font-size: 16px;
}

p.current_number{	
	font-weight: bold;
}